<!-- .page -->
<div class="page" ng-cloak>
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-section -->
    <div class="page-section">
      <!--
      <div class="alert alert-secondary has-icon fade show">
        <div class="alert-icon">
          <span class="fa fa-bell"></span>
        </div>
        <h4 class="alert-heading">New Coin Added</h4>
        <p class="mb-0">We are happy to announce we integrated <a href="https://getnerva.org" class="alert-link" target="_blank">Nerva</a> into Hostero. <a ui-sref="coins" class="alert-link">Start Mining Nerva!</a></p>
      </div>
      -->

      <!-- .page-title-bar -->
      <header class="page-title-bar">
        <p class="lead">
          <span class="font-weight-bold">Hi, {{profile.name}}</span>
          <span class="d-block text-muted">Here’s what’s happening with your nodes today</span>
        </p>
      </header>
      <!-- /.page-title-bar -->

      <hr />

      <!-- .card -->
      <div class="card mt-5">
        <!-- .steps -->
        <section class="steps steps-float">
          <ul>
            <li class="success">
              <a ui-sref="wallets" tabindex="-1">
                <span class="step-indicator step-indicator-icon">
                  <i class="fas fa-wallet"></i>
                </span>
                <span class="d-none d-sm-inline">Add Wallet</span>
              </a>
            </li>
            <li class="active">
              <a href="https://www.hostero.eu/getting-started" target="_blank" tabindex="-1">
                <span class="step-indicator step-indicator-icon">
                  <i class="fas fa-download"></i>
                </span>
                <span class="d-none d-sm-inline">Install Device</span>
              </a>
            </li>
            <li class="error">
              <a ui-sref="hosts" tabindex="-1">
                <span class="step-indicator step-indicator-icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="d-none d-sm-inline">Deploy Node</span>
              </a>
            </li>
            <li>
              <a ui-sref="nodes" tabindex="-1">
                <span class="step-indicator step-indicator-icon">
                  <i class="fas fa-th-list"></i>
                </span>
                <span class="d-none d-sm-inline">Monitor Nodes</span>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.steps -->
        <!-- .card-body -->
        <div class="card-body">
          <h4>Deploy your Nodes, easy as &pi;</h4>
          <hr />
          <p><a class="tile tile-circle">1</a> Add the wallet for the coin</p>
          <p><a class="tile tile-circle">2</a> Install Hostero on the device (PC/server)</p>
          <p><a class="tile tile-circle">3</a> Deploy a node on the new device</p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <div class="section-block">
        <!-- metric row -->
        <div class="metric-row">
          <!-- metric column -->
          <div class="col-6">
            <!-- .card -->
            <section class="card card-fluid">
              <!-- .list-group -->
              <div class="list-group list-group-flush list-group-divider">
                <a class="list-group-item list-group-item-action" ng-repeat="log in logs | limitTo:4">
                  <div class="list-group-item-figure">
                    <div class="tile">
                      <span class="fa fa-info"></span>
                    </div>
                  </div>
                  <div class="list-group-item-body">
                    <h4 class="list-group-item-title"> {{ log.message }} </h4>
                    <h5 class="list-group-item-subtitle"> {{ log.created_at | timeAgo }} </h5>
                    <p class="list-group-item-text text-truncate">
                      <span ng-repeat="extra in log.extra_message_curated">
                        <span class="badge badge-subtle badge-dark">{{ extra }}</span>
                      </span>
                    </p>
                  </div>
                </a>
                <a class="list-group-item list-group-item-action" ng-if="!logs.length">
                  <div class="list-group-item-body">
                    No activity.
                  </div>
                </a>
              </div>
              <!-- /.list-group -->
            </section>
            <!-- /.card -->
          </div>
          <!-- /metric column -->
          <!-- metric column -->
          <div class="col-6">
            <!-- .card -->
            <section class="card card-fluid">
              <!-- .metric -->
              <div class="card-metric">
                <div class="metric">
                  <p class="metric-value h3">
                    <sub>
                    <i class="fas fa-server"></i>
                  </sub>
                    <span class="value">{{ global_nodes.length || 0 }}</span>
                  </p>
                  <h2 class="metric-label"> <a ui-sref="nodes">Nodes</a> </h2>
                </div>
              </div>
              <!-- /.metric -->
            </section>
            <!-- /.card -->
          </div>
          <!-- /metric column -->
        </div>
        <!-- /metric row -->
      </div>
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
