<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <!-- floating action -->
      <button type="button" class="btn btn-success btn-floated" ui-sref="new_node" ng-if="global_nodes.length < (global_account.plan_nodes + global_account.bonus_nodes)">
        <span class="fa fa-plus"></span>
      </button>
      <!-- /floating action -->
      <!-- title and toolbar -->
      <div class="d-md-flex align-items-md-start">
        <h1 class="page-title mr-sm-auto"> {{nodes.length || 0}} Nodes
          <small class="badge">
            <a ui-sref="account">{{(global_account.plan_nodes + global_account.bonus_nodes) || 0}} Available</a>
          </small>
        </h1>
        <!-- .btn-toolbar -->
        <div class="btn-toolbar">
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              <span>Batch</span>
              <span class="caret"></span>
            </button>
            <div class="dropdown-arrow dropdown-arrow-right"></div>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="" class="dropdown-item" ng-click="nodesCtrl.delete_all()">Delete All Nodes</a>
            </div>
          </div>
        </div>
        <!-- /.btn-toolbar -->
      </div>
      <!-- /title and toolbar -->
    </header>
    <!-- /.page-title-bar -->

    <!-- .page-section -->
    <section class="card card-fluid">
      <div class="card-body" ng-if="nodes != null && !nodes.length">
        You have not deployed any nodes. <a ui-sref="new_node">Deploy a node</a>.
      </div>

      <div ng-if="nodes == null">
        <center>
          <br />
          <p><img src="images/loading.gif" /></p>
        </center>
      </div>

      <div class="table-responsive" ng-if="nodes != null && nodes.length">
        <table class="table table-hover" datatable="ng" dt-options="dt_options">
          <thead class="thead-light">
            <tr>
              <th>Node</th>
              <th>Coin</th>
              <th>Hashrate</th>
              <!--<th>Est. 24h Rewards</th>-->
              <th>Updated</th>
              <th class="d-none d-sm-none d-md-none d-lg-block">Device</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="node in nodes" ng-class="{highlight: node.temporary}">
              <td>
                <div class="tile bg-{{nodesCtrl.get_status_color(node)}}">
                  <i class="fa fa-{{nodesCtrl.get_status_icon(node)}}"></i>
                </div>
                &nbsp;
                <a ui-sref="node({node:node.id})">{{ node.name }}</a>
              </td>
              <td>
                <a ui-sref="wallets.wallet({wallet: node.coin})">{{ node.coin | ucfirst }}</a>
              </td>
              <td>
                <span ng-if="!node.temporary">
                  {{ node.power | hashrate }}
                  <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Updated every 30 minutes">
                    <i class="fa fa-info"></i>
                  </span>
                </span>
                <span ng-if="node.temporary">
                  -
                  <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Not computed for temporary nodes">
                    <i class="fa fa-info"></i>
                  </span>
                </span>
              </td>
              <!--
              <td>
                <span ng-if="!node.temporary">{{ node.reward_24h_eur }} &euro;</span>
                <span ng-if="node.temporary">-</span>
              </td>
              -->
              <td>
                {{ node.updated_at | timeAgo }}
              </td>
              <td class="d-none d-sm-none d-md-none d-lg-block">
                <a href="" ui-sref="host({host:node.Host.id})" title="{{node.Host.name}}" ng-if="node.Host">
                  {{ node.Host.name | limitTo:20 }}
                </a>
                <span ng-if="!node.Host">-</span>
              </td>
              <td class="align-middle text-right" ng-if="!node.temporary">
                <!--
                <a href="http://dashboard.hostero.eu/#!/logs/{{node.id}}" target="_blank" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Logs">
                  <i class="fa fa-database"></i>
                  <span class="sr-only">Logs</span>
                </a>
                -->
                <!--
                <a ng-click="nodesCtrl.fast_deploy(node)" class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top" title="Fast deploy">
                  <i class="fa fa-bolt"></i>
                  <span class="sr-only">Fast deploy</span>
                </a>
                -->
                <!--
                <a ng-click="nodesCtrl.redeploy(node)" class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top" title="Re-deploy">
                  <i class="fa fa-recycle"></i>
                  <span class="sr-only">Re-deploy</span>
                </a>
                -->
                <a ng-click="nodesCtrl.remove(node)" class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top" title="Remove">
                  <i class="far fa-trash-alt"></i>
                  <span class="sr-only">Remove</span>
                </a>
              </td>
              <td class="align-middle text-right" ng-if="node.temporary">
                -
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {},
    Tawk_LoadStart = new Date();
  (function() {
    var s1 = document.createElement("script"),
      s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/5be95f010e6b3311cb78df6b/default';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->
