<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <h1 class="page-title">Deploy node</h1>
    </header>
    <!-- /.page-title-bar -->

    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Device</h4>
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <select class="custom-select" id="host" required="required" ng-model="ctrl.selected_host_id" ng-change="ctrl.update_threads()">
                  <option ng-repeat="host in ctrl.hosts | filter:{user_id: '!shared'}" value="{{host.id}}">{{host.name}}</option>
                  <option value="">Choose...</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Name</h4>
          <hr />
          <!-- .form -->
          <form>
            <!-- .fieldset -->
            <fieldset>
              <!-- .form-group -->
              <div class="form-group">
                <input type="text" class="form-control" ng-model="ctrl.name" placeholder="node#1234">
              </div>
              <!-- /.form-group -->
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Coin</h4>
          <hr />
          <!-- .section-block -->
          <div class="section-block text-center text-sm-left">
            <!-- .visual-picker -->
            <div class="visual-picker visual-picker-sm has-peek px-3" ng-repeat="coin in global_coins">
              <!-- visual-picker input -->
              <input type="radio" id="{{coin.internal_name}}" name="coin" value="{{coin.internal_name}}" ng-model="ctrl.wallets.auto_deploy_coin" />
              <!-- .visual-picker-figure -->
              <label class="visual-picker-figure" for="{{coin.internal_name}}">
                <!-- .visual-picker-content -->
                <span class="visual-picker-content">
                  <span class="tile tile-sm bg-{{coin.color}}">
                    <i class="fa fa-money-bill-alt"></i>
                  </span>
                </span>
                <!-- /.visual-picker-content -->
              </label>
              <!-- /.visual-picker-figure -->
              <!-- .visual-picker-peek -->
              <span class="visual-picker-peek">{{coin.name}}</span>
            </div>
            <!-- /.visual-picker -->
          </div>
          <!-- /.section-block -->
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Wallet</h4>
          <hr />
          <p><a href="" ng-click="ctrl.show_wallet = !ctrl.show_wallet">Change default settings</a></p>

          <div ng-include src="'views/wallets/' + ctrl.wallets.auto_deploy_coin + '.html'" ng-show="ctrl.show_wallet"></div>
        </div>
      </div>
    </div>

    <hr class="my-5" />
    <div class="row">
      <div class="col-sm">
        <button class="btn btn-outline-secondary btn-lg btn-block" ui-sref="nodes">Cancel</button>
      </div>
      <div class="col-sm">
        <button class="btn btn-primary btn-lg btn-block" ng-click="ctrl.deploy()">Deploy</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.page-section -->
</div>
<!-- /.page-inner -->
</div>
<!-- /.page -->
